$RECYCLE.BIN/
**/build/
/.gradle
/.idea/
/.idea_modules/
/build/
/out/
/run/
*.cab
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.lnk
*.log
*.msi
*.msix
*.msm
*.msp
*.nar
*.rar
*.stackdump
*.tar.gz
*.war
*.zip
*~
.Trash-*
._*
.fuse_hidden*
.nfs*
hs_err_pid*
[Dd]esktop.ini
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.apdisk
.com.apple.timemachine.donotpresent
.directory
.fseventsd
.gradletasknamecache
Icon
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
atlassian-ide-plugin.xml
ehthumbs.db
ehthumbs_vista.db
gradle-app.setting
!gradle-wrapper.jar
